<!doctype html>
<html ng-app="c" ng-controller="c_ctrl">
<head>
  <meta charset="utf-8">
  <title>{{dict.title}} {{dict.version}}</title>
  <link rel="shortcut icon" href="./favicon.ico" />
  <link rel="stylesheet" type="text/css" href="style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
  <script type="text/javascript" src="angular.min.js"></script>
  <script type="text/javascript" src="main.js"></script>
</head>
<body>
<center>
  <a href="javascript:void(0)" id="choose" ng-click="choose()">{{dict.choose}}</a>
  <h1 id="food">{{dict.s1}}<br><span id="choice">{{chosen}}</span><br>{{dict.s2}}<br><span class="heart"></span></h1>
  <h1 id="option"><i>{{dict.list}}</i></h1>
  <table id="foodlist" border="1" cellspacing="0" cellpadding="1">
    <thead>
      <tr>
        <th>{{dict.name}}</th>
        <th>{{dict.type}}</th>
        <th>{{dict.oper}}</th>
      </tr>
    <tbody>
      <tr ng-repeat="food in foodlist">
        <td>{{food.name}}</td>
        <td>{{food.type}}</td>
        <td><input type="submit" class="o" value="{{dict.del}}" id="{{food.$$hashKey}}" ng-click="del($event)" /></td>
      </tr>
      <tr>
        <td><input type="text" id="name" class="t" placeholder="{{dict.name}}" ng-model="name" onfocus="style.backgroundColor='#ff0'" onblur="style.backgroundColor='#fff'" /></td>
        <td><input type="text" id="type" class="t" placeholder="{{dict.type}}" ng-model="type" onfocus="style.backgroundColor='#ff0'" onblur="style.backgroundColor='#fff'" /></td>
        <td><input type="submit" class="o" value="{{dict.add}}" ng-click="add()" /></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>{{dict.total}}</th>
        <th colspan="2">{{foodlist.length}}</th>
      </tr>
    </tfoot>
  </table>
  <div id="copyright"><a id="change" href="javascript:void(0)" ng-click="change()">{{dict.change}}</a><br><br>Copyright © 2014 <a href="http://g.jamesliu.info" target="_blank">James Liu</a></div>
</center>
</body>
</html>